.form {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 50px;
  }

  &__container {
    display: flex;
    align-items: center;
    background-color: var(--foreground);
    border-radius: 50px;
    box-shadow: var(--card-shadow);
    padding: 8px;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 6px;
  }

  &__input-group {
    display: flex;
    align-items: center;
    background-color: var(--input-bg);
    border: 1px solid var(--btn-bg);
    border-radius: 26px;
    overflow: hidden;
  }

  &__input {
    background: transparent;
    border: none;
    color: var(--heading);
    padding: 0.5rem;
    width: 150px;
    padding-right: 2rem;
    &:focus {
      outline: none;
    }
  }
  &__field {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  &__icon-clear {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    color: var(--text);
  }

  &__btn {
    padding: 0.7rem;
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    height: 100%;
    transition: filter 0.3s ease;
    line-height: 1;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1.4px solid var(--border);
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-text);

    &:hover {
      background-color: var(--btn-secondary-hover-bg);
    }
  }

  &__btn-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
  }

  &__error {
    position: absolute;
    top: -2.5rem;
    left: 0;
    background-color: #ff4d4d;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    font-size: 0.9rem;
    box-shadow: var(--card-shadow);
  }
}
